<%= form_with(model: user, local: true, method: :put) do |form| %>
  <div class="form-group">
    <%= form.email_field :email, class:"form-control", placeholder:"Email" %>
  </div>

  <div class="actions text-center">
    <%= form.submit %>
  </div>
<% end %>