
<h1>Your profile</h1>



<p><strong>Email:</strong> <%= @user.email %></p>

<%= link_to '« Edit profile', edit_user_path, class:"btn btn-outline-warning" %>




<%= link_to '« Edit profile', edit_user_path, class:"btn btn-outline-warning" %>
<br>
<br>

<h1>Your past orders</h1>


