/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* stylle_css show page*/

.card_show {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    align-items: flex-start;
    margin: auto;
    gap: 30% ;
  }
  
  .h1_center{
    text-align: center;
    margin-bottom: 7%;
  }

  .border_show{
    border-radius: 30px;
    width: 100%;
    text-align: center;
  }

  .price_show{
    text-align: end;
  }

  .btn_bot{
    background-color: blueviolet;
  }